.checker {
        background-image: url('data:image/gif;base64,R0lGODlhEAAQAPEAAAAAAICAgMzMzAAAACH5BAEAAAIALAAAAAAQABAAAAIfjG+iq4jM3IFLJipswNly/XkcBpIiVaInlLJr9FZWAQA7');
      }
      .container {
        display: table;
        position: absolute;
        width: 100%;
        height: 10em;
      }
      div.container_center {
        display: table-cell;
        vertical-align: bottom;
        color: white;
        text-shadow: -1px 1px #000000;
      }
      div#boxleft {
        width: 50%;
        height: 8em;
        margin-left: auto;
        margin-right: auto;
        float:left;
        background-color: rgba(255, 0, 0, 0.5);
      }
      div#boxright {
        width: 50%;
        height: 8em;
        margin-left: auto;
        margin-right: auto;
        float: right;
        background-color: rgb(128, 0, 0);
      }
      input {
        border: none;
        border-width: 0px;
      }
      comment {
        color: green;
      }
      keyword {
        color: rgb(255, 0, 200);
      }
      literal {
        color: rgb(42, 42, 200);
      }
