.container {
	display: flex;
	padding: 10px;
	height: 10em;
	/** https://leaverou.github.io/css3patterns/#checkerboard */
	background-color: #eee;
	background-image: linear-gradient(45deg, gray 25%, transparent 25%, transparent 75%, gray 75%, gray),
	linear-gradient(45deg, gray 25%, transparent 25%, transparent 75%, gray 75%, gray);
	background-size: 20px 20px;
	background-position: 0 0, 30px 30px;
}

.container div {
	flex: 1;
	padding: 8px;
	width: 50%;
	color: white;
	text-shadow: -1px 1px #000000;
}

#boxleft {
	background-color: rgba(255, 0, 0, 0.5);
}

#boxright {
	background-color: rgb(128, 0, 0);
}

input {
	border: none;
	border-width: 0;
}

comment {
	padding-left: 8px;
	color: green;
}

keyword {
	color: rgb(255, 0, 200);
}

literal {
	color: rgb(42, 42, 200);
}
